$black0: #191D24;
$black1: #1E222A;
$black2: #222630;

$gray0: #242933;
$gray1: #2E3440;
$gray2: #3B4252;
$gray3: #434C5E;
$gray4: #4C566A;
$gray5: #60728A;

$white_alt: #C0C8D8;
$white0: #BBC3D4;
$white1: #D8DEE9;
$white2: #E5E9F0;
$white3: #ECEFF4;

$blue0: #5E81AC;
$blue1: #81A1C1;
$blue2: #88C0D0;

$cyan0: #8FBCBB;
$cyan1: #8FC6C5;
$cyan2: #80B3B2;

$red0: #BF616A;
$red1: #C5727A;
$red2: #B74E58;

$orange0: #D08770;
$orange1: #D79784;
$orange2: #CB775D;

$yellow0: #EBCB8B;
$yellow1: #EFD49F;
$yellow2: #E7C173;

$green0: #A3BE8C;
$green1: #B1C89D;
$green2: #97B67C;

$magenta0: #B48EAD;
$magenta1: #BE9DB8;
$magenta2: #A97EA1;
